<div class="row">
	<div class="col-md-12">
		<ul class="list-unstyled list-inline">
			<li class="li-about">About</li>
			<li class="li-portfolio">Portfolio</li>
			<li class="li-services">Services</li>
		</ul>
	</div>
</div>
<div class="row bottom-margin">
	<div class="col-md-12">
		<div class="box about-box">
			<div class="content">
				Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor. Etiam imperdiet imperdiet orci. Aenean massa.

				Donec venenatis vulputate lorem. Phasellus tempus. Donec posuere vulputate arcu. Quisque rutrum. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo.
			</div>
		</div>
		<div class="box portfolio-box">
			<div class="content">
				Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor. Etiam imperdiet imperdiet orci. Aenean massa.

				Donec venenatis vulputate lorem. Phasellus tempus. Donec posuere vulputate arcu. Quisque rutrum. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo.
			</div>
		</div>
		<div class="box services-box">
			<div class="content">
				Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor. Etiam imperdiet imperdiet orci. Aenean massa.

				Donec venenatis vulputate lorem. Phasellus tempus. Donec posuere vulputate arcu. Quisque rutrum. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo.
			</div>
		</div>
	</div>
</div>