<div id="banner">
	<div class="container">
		<%= render "shared/tabs" %>
		<%= render "shared/profile" %>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-height white-background bottom-margin center">
					<p>
						Hello! My name is Pete Jabbour, and I'm a Chicago-based technology consultant.
						After spending time at Chicago's best digital agencies, incubators, accelerators, and startups,
						I am now working on projects for clients locally as well as some of my own.
					</p>
					<p style="margin-top:20px;">
						I have a diverse set of skills, ranging from intuitive UX and responsive web design, to HTML/CSS/Javascript,
						PostgreSQL, all the way down to Ruby on Rails, Ruby, and Golang.
					</p>
					<p style="margin-top:20px;">
						Most clients have a clear understanding of how their product should be used, perceived, and marketed,
						however they are often not building or designing the technology. It is important to have technologists who build to complement your core business.
					</p>
					<p style="margin-top:20px;">
						As an entrepreneur first, I build technology that fits within the scope of your needs and also aligns with your business and growth model.
						Together we will create a product that accomplishes your technical needs while addressing common business problems.
					</p>
					<p style="margin-top:40px;">
						<small>"If you want to go fast, go alone. If you want to go far, go together."</small>
					</p>
					<p>
						<small>-- African Proverb</small>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render "shared/social_media" %>