<% content_for :title do %>
	<%= "Pete Jabbour | Services" %>
<% end %>
<div id="banner">
	<div class="container">
		<%= render "shared/tabs" %>
		<%= render "shared/profile", page: "services", direction: "left" %>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-height white-background bottom-margin">
					<p>Nullam accumsan lorem in dui. Fusce fermentum odio nec arcu. Fusce vulputate eleifend sapien. Nullam tincidunt adipiscing enim. Phasellus tempus.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render "shared/social_media" %>