<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="transparent_background">
			<div class="box box-transparent bottom-margin">
				<div class="content">
					<div class="pete-jabbour-container">
						<h1 style="display: inline-block; margin-top:0px;" class="pete-jabbour">
							Pete Jabbour
						</h1>
					</div>
					<div class="technology-links-container">
						<p style="font-weight:bold;">
							<%= render "shared/technology_links" %>
						</p>
					</div>
					<div class="hidden-xs hidden-sm" style="margin-top: 10px;">
						<%= render "shared/social_media" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
