<%= scroll_reveal animation: "enter right and move 50px over 2s, after 0.3s" do %>
	<div class="box box-transparent bottom-margin">
		<div class="content">
			<h1>PETEJABBOUR.INFO</h1>
			<p style="color: black;">Technology Consultant &amp; Full-Stack Engineer</p>
		</div>
	</div>
<% end %>
