<%= scroll_reveal animation: "enter right and move 50px over 2s, after 0.3s" do %>
  <div class="row">
    <div class="blog_post_li">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= link_to "11/10/2019 Postgres upgrade 9.4 to 9.6", postgres_blog_path, 'data-no-turbolink' => true %>
      </div>
    </div>
  </div>
<% end %>
