<%= scroll_reveal animation: "enter right and move 50px over 2s, after 0.3s" do %>
  <div class="row top-margin blog_post_row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="transparent_background_sm">
        <div class="row blog_post_li">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <%= link_to "11/11/19 Postgres upgrade 9.4 to 9.6", postgres_blog_path, 'data-no-turbolink' => true %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
