<%= scroll_reveal animation: "enter top and move 50px over 2s, after 0.3s" do %>
	<div class="box box-transparent bottom-margin">			
		<div class="content">
			<h2 class="contact" style="color: #575757;display:none;">
				Please don't hesitate to reach out!
			</h2>
		</div>
	</div>
<% end %>