<div class="my-face">
  <%= link_to root_path, 'data-no-turbolink' => true do %>
    <%= image_tag "//s3.amazonaws.com/petejabbour-website/bitmoji-white-200px.jpg", class: "img-circle", alt: "Peter Jabbour", size: "200x200", title: "Pete Jabbour" %>
  <% end %>
</div>
