<div class="center">
<div class="my-face">
  <%= link_to root_path, 'data-no-turbolink' => true do %>
    <%= image_tag "//s3.amazonaws.com/petejabbour-website/bitmoji-white-200px.jpg", class: "img-circle", alt: "Peter Jabbour", size: "200x200", title: "Pete Jabbour" %>
  <% end %>
</div>
</div>
<div class="row top-margin">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <a class="btn btn-block btn-send-message-modal" href="#" onclick="return false;" data-toggle="modal" data-target="#contactRequestModal">
      send me a message
    </a>
  </div>
</div>
