<div class="breadcrumbs-container">
  <div class="breadcrumbs">
    <div class="row">
      <div class="col-md-9 col-md-offset-3 col-sm-12 col-xs-12">
        <%= crumb_1 %> &vert; <%= crumb_2 %>
      </div>
    </div>
  </div>
</div>
