<%= form_for @contact_request, remote: true do |f| %>
	<div class="form-group">
		<div class="input-group">
		  <input type="text" class="form-control contact-request-name" placeholder="Name" name="contact_request[name]" autofocus="true" aria-describedby="sizing-addon1" autocomplete="off" required>
		</div>
		<div class="input-group top-margin-small">
		  <input type="email" class="form-control" placeholder="Email" name="contact_request[email]" aria-describedby="sizing-addon2" autocomplete="off" required>
		</div>
		<div class="input-group top-margin-small">
		  <textarea class="form-control" placeholder="Message" name="contact_request[message]" required rows="5"></textarea>
		</div>
	</div>
	<%= render "shared/spamcatcher_field" %>
	<%= f.button "Send", data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Sending..." }, class: "btn btn-default btn-block top-margin-small" %>
<% end %>
