<div class="row">
	<div class="col-md-3 col-sm-12 center">
		<%= scroll_reveal animation: "enter left and move 50px over 2s, after 0.3s" do %>
			<%= link_to root_path, 'data-no-turbolink' => true do %>
				<%= image_tag "//s3.amazonaws.com/petejabbour-website/headshot", class: "img-circle", alt: "Pete Jabbour", size: "200x200", title: "Pete Jabbour" %>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-9 col-sm-12">
		<%= render "shared/scroll/about" %>
	</div>
</div>
