<div class="row">
	<div class="col-md-12">						
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-3">
				<div class="bottom-margin">
					<%= link_to root_path, 'data-no-turbolink' => true do %>
						<%= image_tag "//s3.amazonaws.com/petejabbour-website/pete_jabbour.jpg", class: "img-responsive img-circle", alt: "Pete Jabbour", title: "Pete Jabbour" %>
					<% end %>
				</div>
			</div>
			<div class="col-md-10 col-sm-10 col-xs-9">
				<div class="box box-transparent bottom-margin">
					<div class="content">
						<% path = request.path.split("/")[1] %>
						<%= scroll_reveal animation: 'enter right and move 50px over 2s' do %>
							<% if path == "portfolio" %>
								<h2 class="portfolio" style="color: #575757;">
									An incomplete list of projects in various stages (beta, startup, enterprise-level software) 
									across many different industries...
								</h2>
							<% elsif path == "contact" %>
								<h2 class="contact" style="color: #575757;">
									Please don't hesitate to reach out!
								</h2>
							<% else %>
								<h1>PETEJABBOUR.COM</h1>
								<p style="color: black;">Technology Consultant &amp; Full-Stack Engineer</p>
							<% end %>
						<% end %>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>