<div class="row">
	<div class="col-md-12">						
		<div class="row">
			<div class="col-md-2 col-sm-2">
				<div class="bottom-margin">
					<%= link_to root_path do %>
						<%= image_tag "//s3.amazonaws.com/petejabbour-website/pete_jabbour.jpg", class: "img-responsive img-circle", alt: "Pete Jabbour", title: "Pete Jabbour" %>
					<% end %>
				</div>
			</div>
			<div class="col-md-10 col-sm-10">
				<div class="box box-transparent bottom-margin">
					<div class="content" >
						<h1 style="margin-top:3%;"><%= link_to "PETEJABBOUR.COM", root_path, class: "white-link", title: "Pete Jabbour" %></h1>
						<p style="color: black;">Technology Consultant &amp; Full-Stack Engineer</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>