<div class="social-media">
  <div class="item">
    <%= link_to "https://twitter.com/petejabbour", target: "_blank", class: "white-link", title: "Twitter" do %>
      <i class="fa fa-twitter fa-2x"></i>
    <% end %>
  </div>
  <div class="item">
    <%= link_to "https://github.com/jabbs", target: "_blank", class: "white-link", title: "Github" do %>
      <i class="fa fa-github fa-2x"></i>
    <% end %>
  </div>
  <div class="item">
    <%= link_to "https://www.linkedin.com/in/peterjabbour", target: "_blank", class: "white-link", title: "Linkedin" do %>
      <i class="fa fa-linkedin fa-2x"></i>
    <% end %>
  </div>
  <div class="custom-link send-message-link hidden-xs hidden-sm">
    send
    <i class="fa fa-envelope"></i>
  </div>
</div>
