<div class="social-media">
  <%= link_to "https://twitter.com/_Jabbs_", target: "_blank", class: "white-link", title: "Twitter" do %>
    <i class="fa fa-twitter fa-2x"></i>
  <% end %>
  <%= link_to "https://www.facebook.com/peter.jabbour.9", target: "_blank", class: "white-link", title: "Facebook" do %>
    <i class="fa fa-facebook fa-2x"></i>
  <% end %>
  <%= link_to "https://www.linkedin.com/in/peterjabbour", target: "_blank", class: "white-link", title: "Linkedin" do %>
    <i class="fa fa-linkedin fa-2x"></i>
  <% end %>
  <%= link_to "https://github.com/jabbs", target: "_blank", class: "white-link", title: "Github" do %>
    <i class="fa fa-github fa-2x"></i>
  <% end %>
</div>
