<div style="height:0px;">
	<div class="pull-right white" style="position:relative; top:-16px; font-size:85%; left: -10px; text-shadow: 1px 1px black">Da Nang, Vietnam 2012</div>
</div>
<div class="row footer" style="max-height: 136px;">
	<div class="col-md-12">
		<div class="box center grey-background">
			<div class="content" style="padding-top:40px; padding-bottom:40px;">
				<%= link_to "https://twitter.com/petejabbour", target: "_blank", class: "white-link", title: "Twitter" do %>
					<i class="fa fa-twitter fa-4x"></i>
				<% end %>
				<%= link_to "https://www.facebook.com/peter.jabbour.9", target: "_blank", class: "white-link", title: "Facebook" do %>
					<i class="fa fa-facebook fa-4x"></i>
				<% end %>
				<%= link_to "https://www.linkedin.com/in/peterjabbour", target: "_blank", class: "white-link", title: "Linkedin" do %>
					<i class="fa fa-linkedin fa-4x"></i>
				<% end %>
				<%= link_to "https://github.com/jabbs", target: "_blank", class: "white-link", title: "Github" do %>
					<i class="fa fa-github fa-4x"></i>
				<% end %>
			</div>
		</div>
	</div>
</div>