<div class="technology-link">
  <a href="https://www.ruby-lang.org" target="_blank" class="white-link">
    Ruby
  </a>
  /
  <a href="https://rubyonrails.org/" target="_blank" class="white-link">
    Ruby on Rails
  </a>
  /
  <a href="https://www.postgresql.org/" target="_blank" class="white-link">
    PostgreSQL
  </a>
  /
  <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" class="white-link">
    JS
  </a>
  (<a href="https://www.w3schools.com/js/js_es6.asp" target="_blank" class="white-link">ES6</a>)
  /
  <a href="https://reactjs.org/" target="_blank" class="white-link">
    React
  </a>
  /
  <a href="https://redux.js.org/" target="_blank" class="white-link">
    Redux
  </a>
</div>
