<p>
  Hello Bar is a customizable notification bar that users embed on their websites to convert visitors into customers.
</p>
<p>
  I collaborated with 2 engineers at <%= link_to "Polymathic", "http://teampolymathic.com/", target: "_blank" %>
  to develop new features for this ongoing project. The app has over 300,000 users and a custom internal analytics
  platform that made it quite unique.
</p>
