<p>
  Municipal is a community engagement application for neighborhood planning and development.
  I've been part of this project since its initial conception and developed the first version of the web
  application while the company was at the <%= link_to "Impact Engine", "http://theimpactengine.com/", target: "_blank" %>
  accelerator program. It has experienced much growth since that time.
</p>
