<p>
  With over 700,000,000 data points (and counting) this app collects and parses stock &amp; index quote information in real time,
  filters logic through buying and selling strategies, and outputs Slack notifications for when to
  “Buy”, “Sell”, or “Hold” individual NASDAQ securities.
</p>
