$linkColor: #686868;
@import "bootstrap";
@import url('//fonts.googleapis.com/css?family=ABeeZee:400,400italic');

/* MIXINS */
@mixin rounded_border_lg {
	 -webkit-border-radius: 10px;
	    -moz-border-radius: 10px;
	         border-radius: 10px;
}
@mixin rounded_border {
	 -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	         border-radius: 5px;
}
@mixin rounded_border_sm {
	 -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	         border-radius: 3px;
}
@mixin rounded_top_border {
	 -webkit-border-top-right-radius: 5px;
	    -moz-border-top-right-radius: 5px;
	         border-top-right-radius: 5px;
	 -webkit-border-top-left-radius: 5px;
	    -moz-border-top-left-radius: 5px;
	         border-top-left-radius: 5px;
}
@mixin circle_border {
	 -webkit-border-radius: 15em;
	    -moz-border-radius: 15em;
	         border-radius: 15em;
}

/* Bootstrap Overrides */
//* { border-radius: 0 !important; }
input, select, textarea, .btn {border-radius: 0; }
.input-group, .form-group {margin:0px; padding:0px;border-radius: 0;}
.alert {margin-bottom:0px; border-radius:0px;}
button {margin:0px;}


/* Colors, Misc */

// From original CAW website:
$white: #fff; $blue: rgb(23, 54, 93);
$orange: rgb(251,185,11); $orange2: #ffcc11; $orange3: #ffc414;
$grey_dark: rgb(108, 109, 109); $grey_light: rgb(213, 215, 214);
// Others:
$green: #7CC75C; $green_dark: #65A24B;
$grey: #DBDBDB;
$yellow: #E3D423; $yellow_light: #eff2b9;
$header_background: white;
$link_color: $blue;
$red: #C15248;
$fb_color: #3B5998; $tw_color: #4099FF; $gp_color: #d34836;

// New:
$green: #7ac142;
$orange: #f5af02;
$blue: #0064d2;
$grey: #808084;
$red: #e53238;

// From the new Style Guide
$dark_blue: #0f294a; $light_orange: #ffc62c; $body_grey: #4a4a4a;

.white {color: white;}
.green {color: $green;}
.green-dark {color: darken($green, 10%);}
.yellow {color: $yellow;}
.orange {color: lighten($orange, 10%);}
.orange-dark {color: darken($orange, 8%);}
.red {color: $red;}
.blue {color: $blue;}
.black {color: black;}
.grey {color: $grey;}
.grey-dark {color: $grey_dark;}
.grey-light {color: lighten($grey_dark, 20%);}
.grey-light a {color: lighten($grey_dark, 20%);}
a.grey-light {color: lighten($grey_dark, 20%);}
.fb-color {color: $fb_color;}
.tw-color {color: $tw_color;}
.gp-color {color: $gp_color;}
.yellow-background { background: $yellow; }
.grey-light-background { background: $grey; }
.blue-hr { border-top: 1px solid $blue; border-bottom: 1px solid $blue; }
.grey-hr { border-top: 1px solid $grey_dark; border-bottom: 1px solid $grey_dark; }
.grey-light-hr { border-top: 1px solid darken($grey_light, 10%); border-bottom: 1px solid darken($grey_light, 10%); }
.bold { font-weight: bold; }
.grey-background-shell {background: $grey; padding: 20px;}

/* Universal */
.active, a {
	color: darken($grey, 20%); 
	text-decoration: none;
	&:hover { color: black; }
}

body {
  color: $body_grey;
  background: $grey;
  font-family: sans-serif;
	font-weight:300;
}
h1, h2, h3, h4, h5, h6, p { margin: 0px; padding: 0px; }
h1, h2, h3, h4 { font-family: sans-serif; font-weight:300; }
h5, h6 { font-family: sans-serif; font-style:italic}
.inline { display: inline; }
.huge { font-size: 500%; line-height: 100%; }
.large {font-size: 375%;}
.bigger {font-size: 200%;}
.big {font-size: 150%;}
.heavy {font-size: 130%;}
.smaller {font-size: 90%;line-height: 130%;}
.small {font-size: 80%;line-height: 120%;}
.tiny {font-size: 70%;line-height: 120%;}
.no-right-margin { margin-right: 0px; }
.no-left-margin { margin-left: 0px; }
.no-top-margin { margin-top: 0px; }
.no-bottom-margin { margin-bottom: 0px; }
.no-margin { margin: 0px; }
.bottom-margin-small { margin-bottom: 10px;}
.bottom-margin { margin-bottom:60px; }
.bottom-padding { padding-bottom:20px; }
.bottom-padding-small { padding-bottom:10px; }
.top-padding-small { padding-top:10px; }
.small-right-margin { margin-right:5px; }
.right-margin { margin-right:20px; }
.left-margin { margin-left:20px; }
.large-bottom-margin { margin-bottom:40px; }
.big-bottom-margin { margin-bottom:60px; }
.big-top-margin { margin-top:60px; }
.huge-top-margin { margin-top:100px; }
.huge-bottom-margin { margin-bottom:100px; }
.top-margin { margin-top:20px; }
.top-margin-avg { margin-top:15px; }
.top-margin-small { margin-top:10px; }
.top-margin-tiny { margin-top:5px; }
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.left-padding { padding-left: 20px; }
.pointer { cursor: pointer; }
.no-pointer { cursor: auto; }
.no-decoration { text-decoration: none; }
a.no-decoration:hover { text-decoration: none; }
.underline { text-decoration: underline; }
.top-padding { padding-top:20px; }
.no-padding {padding:0px;}
.no-right-padding {padding-right:0px;}
.no-left-padding {padding-left:0px;}
.no-height {height: 0px;}
a.black-link { color:lighten(black, 10%); &:hover {text-decoration:none;color: black;} }
a.grey-link { color:darken($grey, 10%); &:hover {text-decoration:none;color: $grey_dark;} }
a.grey-dark-link { color: $grey_dark; &:hover {text-decoration:none;color: darken($grey_dark, 10%);} }
a.grey-darkened-link { color: darken($grey_dark, 10%); &:hover {text-decoration:none;color: darken($grey_dark, 10%);} }
a.white-link{ color: $white; }
a.white-link:hover{ text-decoration: none; }
a.orange { color: $orange; }
a.orange:hover { color: darken($orange, 10%); }
a.orange-like-link { color: $orange; }
a.orange-like-link:hover { color: $orange; text-decoration: none; }
a.like-link:hover { color: $orange; text-decoration: none; }
.loading-spinner {
	display: none;
	color: $grey_dark;
	font-size: 300%;
	text-align: center;
}
.indent20 {margin-left: 40px;}
.indent40 {margin-left: 80px;}
.indent60 {margin-left: 120px;}
.col-centered {
	float: none;
	margin: 0 auto;
}
a.highlight-link-bubble {
	padding: 3px 5px;
	background: transparent;
	@include rounded_border;
}
.highlight-link-bubble.active {
	background: $grey_dark;
	color: $white;
	@include rounded_border;
}
.ui-autocomplete {
    z-index: 5000;
}
#banner-big {
  background-image: url("//s3.amazonaws.com/caw-prod/home/chicago_cityscape_big.png");
  min-height: 536px;
}
.border {border: 2px solid $grey_dark;}
.circle-border {border: 2px solid $grey_dark; @include circle_border;}
.rounded-border {border: 2px solid $white; @include rounded_border;}
.rounded-border-dark {border: 2px solid $grey_dark; @include rounded_border;}
.rounded-top-border {@include rounded_top_border;}
.top-border { border-top: 2px solid $grey; }
.top-border-dark { border-top: 2px solid $grey_dark; }
.top-border-thin { border-top: 1px solid $grey; }
.bottom-border-dark { border-bottom: 2px solid $grey_dark; }
.bottom-border { border-bottom: 2px solid $grey; }
.bottom-border-thin { border-bottom: 1px solid $grey; }
.silent { color: $grey; }
.circle-image {
	-webkit-border-radius: 15em;
	-moz-border-radius: 15em;
	border-radius: 15em;
}

/* Static Pages - Home */

.box {
	border: none;
	background: $grey;
	color: $white;
	border-radius: 0;
	.content { padding: 10px; }
	p { margin-top: 5px; }
}
.box.about-box { background: $green; }
.box.portfolio-box { background: $orange; }
.box.services-box { background: $blue; }
.box.lightgrey { background: $grey; color: $white; }
.main-box {
	position:relative; 
	top: -40px;
}

.chevron {
	background: lighten($dark_blue, 10%);
	height:382px;
	padding:177px 0px 0px 23.75px;
	&:hover {
		cursor: pointer;
		background: lighten($dark_blue, 5%);
	}
}

#banner {
  background-image: url("//s3.amazonaws.com/petejabbour-website/chicago.jpg");
	background-repeat: no-repeat;
  min-height: 1200px;
}
li { border-bottom: 3px solid transparent; }
li:hover { color: black;}

.line-about, .li-about.active {
	border-color: $dark_blue;
	transition: border-color .5s ease-in-out;
	cursor: pointer;
	color: black;
	a {color: black;}
	a:hover {text-decoration:none;}
}
.line-portfolio, .li-portfolio.active { 
	border-color: $dark_blue; 
	transition: border-color .5s ease-in-out;
	cursor: pointer;
	color: black;
	a {color: black;}
	a:hover {text-decoration:none;}
}
.line-services, .li-services.active { 
	border-color: $dark_blue; 
	transition: border-color .5s ease-in-out;
	cursor: pointer;
	color: black;
	a {color: black;}
	a:hover {text-decoration:none;}
}
.line-contact, .li-contact.active { 
	border-color: $dark_blue; 
	transition: border-color .5s ease-in-out;
	cursor: pointer;
	color: black;
	a {color: black;}
	a:hover {text-decoration:none;}
}

.square {
	display: inline-block;
	background: $grey;
	height: 30px;
	width: 30px;
	margin-right:3px;
	cursor: pointer;
	&:hover {background: lighten($grey, 5%);}
}

.square-on {
	background: $dark_blue;
	&:hover {background: $dark_blue;}
}

.blue-background { background: $dark_blue; }
.red-background { background: $red; }
.green-background { background: $green; }
.orange-background { background: $orange; }
.grey-background { background: $grey; }
.grey-light-background { background: lighten($grey, 10%); }
.white-background { background: $white; color: darken($grey, 20%); }


#map {
	border: 5px solid lighten($grey, 10%);
}
.img-pete {
	border: 5px solid $white;
}
.box-main {
	border: 5px solid $white;
	padding: 10px;
}

.box-height {
	min-height:382px;
//	padding:30px 80px;
	font-size: 110%;
	line-height: 135%;
}
.box-green {
	border: 5px solid $green;
}
.box-red {
	border: 5px solid $red;
}
.box-blue {
	border: 5px solid $blue;
}

.box-transparent {
	background: transparent;
	border: 5px solid transparent;
	color: $dark_blue;
	a { color: $dark_blue; }
	a:hover { text-decoration: none; }
	h1 { font-size: 300%; font-family: 'ABeeZee', sans-serif; }
	h2 { font-size: 200%; font-family: 'ABeeZee', sans-serif; }
}

.portfolio-item {
	font-size: 80%;
}

.portfolio-content {
//	text-align: center;
	font-size:120%;
}

.portfolio-logo {
	margin-top: 80px;
	height: 80px;
}

.transparent_background {
	width:100%;
	height:160px;
	position:relative;
	z-index: 0;
	top:-120px;
}
.transparent_background:after {
	content:'';
	background: image-url("grey_block.png");
	width:100%;
	height:150px;
	position:absolute;
	z-index:-1;
	top:0;
	left:0;
	opacity:0.7;
}
.transparent_background_child {
	overflow: hidden;
	color: $white;
	line-height:115%;
	::-webkit-input-placeholder { /* WebKit browsers */ color:    lighten($grey_dark, 20%); }
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */   color:    lighten($grey_dark, 20%); opacity:  1; }
	::-moz-placeholder { /* Mozilla Firefox 19+ */			color:    lighten($grey_dark, 20%); opacity:  1; }
	:-ms-input-placeholder { /* Internet Explorer 10+ */color:    lighten($grey_dark, 20%); }
	a {color: $white;}
}

.portfolio-description {
	position:relative;
	top:-20px;
	font-size: 120%;
}

.fa-twitter, .fa-facebook, .fa-linkedin { margin-right:120px; }




